section.Friends{
    grid-template-columns: repeat(2, 30em);
    background-color: #ffffffc4;
    margin: 3vh 10vw 3vh 10vw;
    border-radius: 2em;
    box-shadow: 0 0 20px 5px #2a907f;
}

ul{
    list-style-type: none;
    background-color: white;
    border-radius: 2em;
    margin: 0.3em;
    box-shadow: 0 0 10px 1px #2a907f;
}

li{
    margin: 1em;
}

.Watched-friend{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Remove-friend-button{
    background-color: #04C9A8;
    color: white;
    border-radius: 2em;
    border: none;
    width: fit-content;
    width: 8em;
    height: 2em;
    box-shadow: 5px 4px 11px 1px #000000;
    margin-left: auto;
}

.Watched-friend > h3{
    margin: 1em;
}

@media only screen and (max-width: 1200px) {
    section.Friends{
        grid-template-columns: repeat(1,90vw);
        margin: 1vh 2vw 1vh 2vw;
    }
}


