.App-header{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: #04c9a8;
    box-shadow: 1px -1px 10px;
}

img{
    width: 6em;
    display: flex;
    justify-content: flex-start;
}

.search{
    grid-column: 4/8;
    align-self: center;
    justify-content: center;
    justify-self: center;
}

.search-icon{
    visibility: hidden;
}

.search-input{
    height: 2.5em;
    width: 16em;
    position: relative;
    left: 1em;
    text-align:center;
    border-radius: 10em 0 0 10em;
    box-shadow: 0 0 20px 5px #2a907f;
    border: none;
}

.search-button{
    height: 2.65em;
    width: 3em;
    text-align: center;
    border-radius: 0 10em 10em 0;
    border: none;
    background-color: white;
    position: relative;
    left: -1em;
    cursor: pointer;
}

.icons{
    grid-column: 8/14;
    align-self: center;
}

.icons > a{
    margin: 0.3em;
    color: white;
    font-size: 2.7em;
}

.icons > a :hover{
    opacity: 0.9;
    transition: opacity 0.2ms;
}

.icons > a > span :hover{
    transform: scale(1.1);
    transition: transform 0.2ms;
}

.small-avatar{
    width: inherit;
    height: inherit;
    object-fit: cover;

    border-radius: 100%;
    display: inherit;
    box-shadow: 0 0 20px 5px #2a907f;
}

span.small{
    width: 0.95em;
    height: 0.95em;
}

button.search-button{
    opacity: 1;
    transition: opacity 0.2ms;
}

@media only screen and (max-width: 1300px) {
    .App-header{
        grid-template-columns: repeat(7, 1fr);
    }

    img{
        width: 10em;
    }

    .icons{
        grid-column: 8/13;
        align-self: center;
    }
    .search-input, .search-button{
        visibility: hidden;
    }

    .search-icon{
        visibility: initial;
    }

    .icons > a{
        margin: 0.2em;
        color: white;
        font-size: 5em;
    }
}
