.input-container{
    background-color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.6rem;
    box-shadow: 0 0 20px 5px #2a907f;
}

.input-group{
    display: flex;
    width: -webkit-fill-available;
    padding: 1.5rem;
}


.input-content{
    background-color: #04c9a8;
    color: white;
    padding: 0 0.5rem;
    border-radius: 1rem 0 0 1rem;
    width: -webkit-fill-available;
    height: auto;
    font-size: inherit;
}

.input-group-append{
    background-color: #04c9a8;
    color: white;
    padding: 0.5rem 1rem 0 0;    display: flex;
    align-items: center;
    border-radius: 0 1rem 1rem 0;
}

.send-button-chat{
    background-color: transparent;
    color: white;
    border: none;
    font-size: xx-large;
}
@media only screen and (max-width: 1200px) {
    .input-container{
        height: 8.5em;
    }

    .input-group{
        font-size: xx-large;
    }

    .send-button-chat{
        font-size: xxx-large;
    }
}
