.left-container{
    height: 35rem;
    background-color: white;
    border-radius: 1rem;
    margin: 3rem;
    width: 25rem;
    overflow: auto;
    box-shadow: 0 0 20px 5px #2a907f;
}

.no-conversations-info{
    margin: 1rem;
}

.no-conversations-info > h3, h2 {
    color: #2a907f;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .left-container {
        height: 93em;
        width: 10.2em;
        margin-right: 1em;
    }

    .conversation-content{
        display: none;
    }
}