section{
    display: grid;
    grid-template-columns: repeat(3,20em);
    gap: 0.5em;
    margin: 1em auto 1em auto;
    justify-content: center;
}

section > a{
    height: 20em;
    background-color: white;
    text-align: center;
}

.avatar > h3{
    position: relative;
    top: -5em;
    margin-bottom: 0;
    color: white;
}

.avatar > h4{
    position: relative;
    top: -5em;
    margin-top: 0;
    color: white;
}

.avatar{
    background-size: cover;
}

.avatar-image{
    width: -webkit-fill-available;
}

@media only screen and (max-width: 1200px) {
    section{
        gap: 0.2em;
        grid-template-columns: repeat(3,32vw);
    }
    section > a{
        height: 32vw;
        background-color: white;
    }
    .avatar > h3, .avatar > h4{
        font-size: 30px;
    }
}