.App-Messages{
    display: flex;
    flex-direction: row;
    #justify-content: center;
    height: 28em;
}

.App-Messages-mobile{
    display: inline;
    overflow: hidden;
    height: 83vh;
}

.Friends-chat-mobile{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 2em;
    align-items: flex-start;
    margin: 1em;
    width: auto;
    color: #04C9A8;
    height: 80vh;
    box-shadow: 0 0 20px 5px #2a907f;
}

.Friends-chat{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 2em;
    align-items: flex-start;
    margin: 1em;
    width: 72em;
    color: #04C9A8;
    height: 80vh;
    box-shadow: 0 0 20px 5px #2a907f;
}

.Chat-place{
    height: 80vh;
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.Chat{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 2em;
    align-items: flex-start;
    margin-bottom: 1em;
    width: 72vw;
    color: #04C9A8;
    height: 90em;
    box-shadow: 0 0 20px 5px #2a907f;
}

.Chat-mobile{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 2em;
    align-items: center;
    margin: 1em;
    width: 92vw;
    color: #04C9A8;
    height: 63vh;
    box-shadow: 0 0 20px 5px #2a907f;
}

.Medium-avatar{
    width: 4em;
    height: 4em;
    border-radius: 100%;
    margin: 0.5em;
}

.One-friend, .One-friend-chat{
    display: flex;
    align-items: center;
}

.Message{
    background-color: #04C9A8;
    color: white;
    display: flex;
    align-items: center;
    padding: 1em;
    border-radius: 2em;
    height: min-content;
    box-shadow: 0 0 10px 2px #2a907f;
}

.Message > h3{
    margin: 0;
}

.Send-input-chat{
    position: relative;
    font-size: 1em;
    height: 2.5em;
    width: 60vw;
    border-radius: 2em;
    background-color: transparent;
    color: white;
    border: none;
}

.Send-button-chat{
    font-size: 1em;
    height: 2.5em;
    width: 5vw;
    border-radius: 2em;
    background-color: transparent;
    color: white;
    border: none;
}

div.Send-message, div.Send-message-mobile{
    background-color: white;
    align-items: center;
    align-self: center;
    padding: 2em;
    border-radius: 2em;
    width: -webkit-fill-available;
    box-shadow: 0 0 20px 5px #2a907f;
}

div.Send-message-mobile{
    margin: 1em;
}

.Send-message-form{
    background-color: #04C9A8;
    border-radius: 2em;
    display: flex;
}

a:-webkit-any-link {
    text-decoration: none;
}

a{
    color: #04C9A8;
}
