.Receivers, .Sends{
    display: flex;
    justify-content: center ;
}
.Receiver-messages{
    margin: 0 0 0 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}

.Receiver-message{
    width: 38vw;
    height: auto;
    margin-left: 1em;
}

.Receiver-message > p, .Receiver-message > h2, .Receiver-message >h4 {
    margin-left: 1em;
}

p{
    margin: 1em;
}

.Rec-messages{
    height: 70vh;
    overflow: auto;
    background-color: white;
    box-shadow: 0 0 10px 1px #2a907f;
    border-radius: 2em;
    width: -webkit-fill-available;
}

.Rec-messages-list{
    height: 10em;
    box-shadow: none;
    border-bottom: 0.01em solid;
    border-radius: 0;
    cursor: pointer;
    margin: 0;
}

.Rec-messages-list > li{
    width: 30vw;
    margin: 0;
}

.Statement{
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.Whole-message{
    height: 70vh;
    border-radius: 1em;
    background-color: white;
    box-shadow: 0 0 10px 1px #2a907f;
    background-color: white;
}

.One-friend{
    margin-left: 1em;
}

.Rec-messages-list:hover{
    background-color: #abc1bd;
    transition: background-color 0.2ms;
}

.Rowback{
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .Receivers, .Sends{
        flex-direction: column;
    }

    .Receiver-messages{
        margin: 0;
    }

    .Rec-messages{
        margin: 0.3em;
        margin-bottom:1.5em;
        height: 70vh;
        width: 30em;
    }

    .Rec-messages-list>li{
        width: 100em;
    }

    .Receiver-messages, .Receiver-message{
        font-size: 30px;
        margin: auto;
        height: 35em;
    }

    .Receiver-message {
        width: 31em;
        height: 45em;
        position: absolute;
        margin-block-start: 10em;
        left: 1em;
    }
}