.Receivers, .Sends{
    display: flex;
    justify-content: center ;
}
.Receiver-messages{
    margin: 0 0 0 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}

.Receiver-message{
    background-color: white;
    width: 40vw;
    height: 60vh;
    border-radius: 1em;
    box-shadow: 0 0 10px 1px #2a907f;
    margin-block-start: 1em;
}

.Receiver-message > p, .Receiver-message > h2, .Receiver-message >h4 {
    margin-left: 1em;
}

p{
    margin: 1em;
}

.Rec-messages-list{
    height: 70vh;
    overflow: auto;
}

.Rec-messages-list>li{
    border-bottom: 0.01em solid #2a907f;
    width: 33vw;
}

.One-friend{
    margin-left: 1em;
}

@media only screen and (max-width: 1200px) {
    .Receivers, .Sends{
        flex-direction: column;
    }

    .Receiver-messages{
        margin: 0;
    }

    .Rec-messages-list {
        margin: 0.3em;
        margin-bottom:1.5em;
        height: 70vh;
        width: 30em;
    }

    .Rec-messages-list>li{
        width: 100em;
    }

    .Receiver-messages, .Receiver-message{
        font-size: 30px;
        margin: auto;
        height: 35em;
    }

    .Receiver-message {
        width: 31em;
        height: 40em;
        position: absolute;
        margin-block-start: 15em;
        left: 1em;
    }

    ul{
        padding: 0;
    }
}