.Receivers, .Sends{
    display: flex;
    justify-content: center ;
}
.Receiver-messages{
    margin: 0 0 0 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}

.Receiver-message{
    background-color: white;
    width: 40vw;
    height: 60vh;
    border-radius: 1em;
    box-shadow: 0 0 10px 1px #2a907f;
    margin-block-start: 1em;
}

.Receiver-message > p, .Receiver-message > h2, .Receiver-message >h4 {
    margin-left: 1em;
}

p{
    margin: 1em;
}

.Rec-messages-list{
    height: 70vh;
    overflow: auto;
}

.Rec-messages-list>li{
    border-bottom: 0.01em solid #2a907f;
    width: 33vw;
}

.One-friend{
    margin-left: 1em;
}

@media only screen and (max-width: 1200px) {
    .Receiver-messages{
        margin: 0;
    }

    .Rec-messages-list {
        width: 38vw;
        margin: 0.3em;
        height: 70vh;
    }

    .Receiver-message {
        width: 58vw;
        margin: 0.3em;
        margin-top: 19vh;
        height: 50vh;
    }

    .Receiver-messages, .Receiver-message{
        font-size: 30px;
    }

    ul{
        padding: 0;
    }
}