.Edit-information{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 2em;
    margin: 10vh;
    justify-content: center;
}

.Edit-information > div{
    background-color: white;
    border-radius: 2em;
    border: 0.1em solid #f3f3f3;
    margin: 1em;
    box-shadow: 0 0 20px 5px #2a907f;
}

.Edit-image > form > img{
    align-self: center;
    margin: auto;
}

.Edit-name-surname > form, .Edit-password> form{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Edit-image-button, .Save-button{
    width: 15em;
    height: 3em;
    background-color: #04C9A8;
    color: white;
    border-radius: 2em;
    border: none;
    margin: 1em;
    box-shadow: 5px 4px 11px 1px #000000;
}

.Remove-activities > form, .Add-activities > form{
    display: flex;
    justify-content: center;
}

select{
    width: 15em;
    height: 3em;
    background-color: #EA0B72;
    color: white;
    border-radius: 2em;
    border: none;
    margin: 1em;
    padding: 0 0 0 4em;
    box-shadow: 5px 4px 11px 1px #000000;

}

option{
    align-self: center;
}

@media only screen and (max-width: 1200px) {
    .Edit-information{
        display: flex;
        flex-direction: column;
        margin: 1em;
    }

    select{
        padding: 0 0 0 2em;
    }
}