.App{
    display: flex;
    flex-direction: column;
}

.Information{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 65vh;
}

.Profile{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 2em;
    justify-content: center;
    align-items: center;
    margin: 1em;
    width: 20em;
    color: #04C9A8;
    box-shadow: 0 0 20px 5px #2a907f;
}

.Big-avatar{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    box-shadow: 0 0 20px 2px #000000;
}

.AboutMe{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 2em;
    align-items: flex-start;
    margin: 1em;
    width: 72em;
    color: #04C9A8;
    box-shadow: 0 0 20px 5px #2a907f;
}

.AboutMe > h2{
    margin: 0.3em 1.2em 0.3em;
}

.AboutMe > h5{
    margin: 0.8em 2.2em 1.2em;
    color: black;
}

.Activities{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 70vw;
    margin: 0.1em 2.2em 0.1em 2.2em;
    justify-items: center;    
}

.Activities > div{
    width: -webkit-fill-available;
    margin: 0.5em;
    background-color: #EA0B72;
    color: white;
    border-radius: 2em;
    height: 3em;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 4px 11px 1px #000000;
}

.Edition{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: white;
    align-items: center;
    align-self: center;
    padding: 2em;
    border-radius: 2em;
    margin: 1em;
    width: -webkit-fill-available;
    overflow: auto;
    box-shadow: 0 0 20px 5px #2a907f;
}

.Edition-button{
    font-size: 1em;
    height: 2.5em;
    width: 15em;
    border-radius: 2em;
    background-color: #04C9A8;
    color: white;
    margin:  0.1em 1.1em;
    border: none;
    box-shadow: 5px 4px 11px 1px #000000;
}

hr{
    color: gray;
    width: 92%;
}

form.Send-message-form{
    background-color: #a6f3e6;
    align-items: center;
    align-self: center;
    border-radius: 2em;
    width: -webkit-fill-available;
    display: flex;
}


.Send-input{
    font-size: 1em;
    height: 2.5em;
    width: -webkit-fill-available;
    border-radius: 2em;
    background-color: transparent;
    color: white;
    border: none;
}

.Send-button{
    font-size: 1em;
    height: 2.5em;
    width: 15em;
    border-radius: 2em;
    background-color: #04C9A8;
    color: white;
    border: none;
}

.Activities > div > h4 >svg{
    color: white;
    font-size: x-large;
    padding: 0.5em 0.5em 0.5em 0;
}

.Activities > div > h4{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Follow{
    font-size: 1em;
    height: 2.5em;
    width: 15vw;
    border-radius: 2em;
    background-color: #04C9A8;
    color: white;
    border: none;
    left: -1em;
}

@media only screen and (max-width: 800px) {
 .Information{
    flex-direction: column;
    align-items: center;
    height: fit-content;
    }

    .Profile{
        height: 40vh;
        margin: 0.4em;
    }

    .AboutMe{
        width: 92vw;
        margin: 0.4em;
        height: auto;
    }

    .Activities{
        grid-template-columns: repeat(2,1fr);
        margin: auto;
    }

    .Activities > div{
        margin: 0.2em;
    }
        
    .Edition{
        grid-template-columns: repeat(1,1fr);
    }

    .Edition > button{
        width: -webkit-fill-available;
        margin: 0.2em;
    }

    button.Follow{
        width: 10em;
    }

}

